
/*

0: {1: "Глазов"}
1: {2: "Новоуральск"}
2: {3: "Саров"}
3: {4: "Железногорск"}
4: {5: "Заречный"} Cвердловск
5: {6: "Заречный"} Пенза
6: {7: "Лесной"}
7: {8: "Озёрск"}
8: {9: "Северск"}
9: {10: "Снежинск"}
10: {11: "Трёхгорный"}
11: {12: "Зеленогорск"}

*/
.pulse
  circle(12px);
  background: rgba($blue_l, 0.6);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  // margin: 10px;
  transform: scale(1);
  animation: pulse 2.4s infinite;

@keyframes pulse
  0%
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba($blue_l, 0.7);

  70%
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba($blue_l, 0);

  100%
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba($blue_l, 0);

.MAP_img
  position: relative;
  top: -100px;
  z-index: -1;

.MAP
  // background: url('~static/img/map.png') no-repeat;
  position: relative;

.pulse
  position: absolute;

  &:nth-of-type(1)
    animation-delay: 0.1s;
    left: 23.5%;
    top: 50.5%;

  &:nth-of-type(2)
    animation-delay: 0.2s;
    left: 28.5%;
    top: 55%;

  &:nth-of-type(3)
    animation-delay: 0.3s;
    left: 17%;
    top: 49%;

  &:nth-of-type(4)
    animation-delay: 0.4s;
    left: 29.5%;
    top: 56%;

  &:nth-of-type(5)
    animation-delay: 0.5s;
    left: 16%;
    top: 52%;

  &:nth-of-type(6)
    animation-delay: 0.6s;
    left: 50.5%;
    top: 63.5%;

  &:nth-of-type(7)
    animation-delay: 0.7s;
    left: 28.5%;
    top: 53%;

  &:nth-of-type(8)
    animation-delay: 0.8s;
    left: 26.5%;
    top: 60%;

  &:nth-of-type(9)
    animation-delay: 0.9s;
    left: 44%;
    top: 63%;

  &:nth-of-type(10)
    animation-delay: 0.3s;
    left: 26.5%;
    top: 56.5%;

  &:nth-of-type(11)
    animation-delay: 0.5s;
    left: 25%;
    top: 61%;

  &:nth-of-type(12)
    animation-delay: 0.9s;
    left: 52%;
    top: 65%;
