*
  margin: 0;
  padding: 0;
  box-sizing: border-box;

@import 'font_Gilroy';
@import 'vars';

html
  min-width: 760px;
  // font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue' Arial, sans-serif;
  font-family: 'Gilroy', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $text;
  background: #F7F7F7;

.wrap
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 1em;

.img_w
  display: inline-block;
  width: 100%;

.H
  color: $header;
  font-weight: 700;

btn()
  color: #FFF;
  border-radius: 5px;
  font-weight: 800;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;

.btn
  btn();
  padding: 1em 2em;
  background: $blue_l;

.btn_lite
  btn();
  padding: 1em 2em;
  border: 1px solid #FFF;

.icon
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FFF;

@import 'anim';
@import '__@Utilities';